.work-in-progress {text-align:center;}
.work-in-progress i, .work-in-progress label {color:#c0c0c0;}
.work-in-progress-header {font-size:10em;}
.work-in-progress-error {font-size:2em;font-weight:bold;}
.work-in-progress-message {font-size:1em;}