<div class="work-in-progress">
	<div class="row">
		<div class="col col-100">
			<div class="work-in-progress-header">
				<i class="fa fa-cogs" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<label class="work-in-progress-error">Página en construcción</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<label class="work-in-progress-message">
				¡Lo sentimos! Esta página estará funcionando proximamente.&nbsp;
				<a id="lnkInicio" (click)="fnRegresar()">Regresar</a>
			</label>
		</div>
	</div>
</div>