<div class="row">
	<div class="col col-100 titulo">{{titulo}}</div>
</div>
<div class="row">
	<div class="col col-100">
		<label class="tipo-seguro">{{tipoCotizacion}}</label>
	</div>
</div>
<div class="row">
	<div class="col col-50">
		<label class="form-label">Nombre:</label>
	</div>
	<div class="col col-50">
		<label class="res-label">{{cotizacion.nombre + ' ' + cotizacion.apaterno + ' ' + cotizacion.amaterno}}</label>
	</div>
</div>
<div class="row">
	<div class="col col-50">
		<label class="form-label">Sexo:</label>
	</div>
	<div class="col col-50">
		<label class="res-label">{{cotizacion.genero.descGenero}}</label>
	</div>
</div>
<div class="row">
	<div class="col col-50">
		<label class="form-label">Edad:</label>
	</div>
	<div class="col col-50">
		<label class="res-label">{{resultadoCotizacion.edad}} años</label>
	</div>
</div>
<div class="row">
	<div class="col col-50">
		<label class="form-label">Pago:</label>
	</div>
	<div class="col col-50">
		<label class="res-label">{{resultadoCotizacion.pago | currency: 'MXN': 'symbol-narrow'}}</label>
	</div>
</div>
<div class="row">
	<div class="col col-50">
		<label class="form-label">Forma de Pago:</label>
	</div>
	<div class="col col-50">
		<label class="res-label">{{cotizacion.formaPago.desc}}</label>
	</div>
</div>
<div class="row">
	<div *ngFor="let tarifaCobertura of resultadoCotizacion.tarifas" class="col col-50">
		<div class="row">
			<div class="col col-100">
				<label class="cob-label">{{tarifaCobertura.descripcion}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<label class="form-label">Suma asegurada</label>
			</div>
			<div class="col col-50">
				<label class="res-label">{{tarifaCobertura.suma | currency: 'MXN': 'symbol-narrow'}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<label class="form-label">Deducible:</label>
			</div>
			<div class="col col-50">
				<label class="res-label">{{tarifaCobertura.deducible | currency: 'MXN': 'symbol-narrow'}}</label>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-100">
		<label class="msg info res-cot">
			En HIR sabemos que tu tranquilidad es lo más importante, por eso<br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</label>
	</div>
</div>
<div class="row">
	<div class="col col-100">
		<button id="btnContratar" type="button" class="next" (click)="fnIrEmision()">Contratar</button>
	</div>
</div>
<div class="row">
	<div class="col col-100">
		<label class="res-link"><a (click)="fnIrCotizacion( false )">Vuelve a cotizar</a></label>
	</div>
</div>
<div class="row">
	<div class="col col-100">
		<label class="res-link"><a (click)="fnIrCotizacion( true )">Cambia tus datos</a></label>
	</div>
</div>