<div class="row">
	<div class="col col-100 titulo">{{titulo}}</div>
</div>
<form [formGroup]="frmSeguhirEmpresario" (ngSubmit)="cotizar()">
	<div class="row">
		<div class="col col-50">
			<div class="row">
				<div class="col col-40">
					<label id="lblNombre" class="form-label">Nombre:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirEmpresario.controls['nombre'].dirty"
						[inputErrors]="frmSeguhirEmpresario.controls['nombre'].errors">
							<input id="txtNombre" type="text" class="form-control" formControlName="nombre">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblApaterno" class="form-label">Apellido paterno:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirEmpresario.controls['apaterno'].dirty"
						[inputErrors]="frmSeguhirEmpresario.controls['apaterno'].errors">
							<input id="txtApaterno" type="text" class="form-control" formControlName="apaterno">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblAmaterno" class="form-label">Apellido materno:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirEmpresario.controls['amaterno'].dirty"
						[inputErrors]="frmSeguhirEmpresario.controls['amaterno'].errors">
							<input id="txtAmaterno" type="text" class="form-control" formControlName="amaterno">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblFechaNac" class="form-label">Fecha de nacimiento:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirEmpresario.controls['fechanac'].dirty"
						[inputErrors]="frmSeguhirEmpresario.controls['fechanac'].errors">
							<my-date-picker name="fechanac" [options]="fecNacOptions" formControlName="fechanac">
							</my-date-picker>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblRFC" class="form-label">RFC:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirEmpresario.controls['rfc'].dirty"
						[inputErrors]="frmSeguhirEmpresario.controls['rfc'].errors">
							<input id="txtRFC" type="text" class="form-control" formControlName="rfc">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblSexo" class="form-label">Sexo:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirEmpresario.controls['genero'].dirty"
						[inputErrors]="frmSeguhirEmpresario.controls['genero'].errors">
							<div *ngFor="let genero of generos" class="rdoContainer two">
								<input type="radio" formControlName="genero" [value]="genero.idGenero">{{genero.descGenero}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
		</div>
		<div class="col col-50">
			<div class="row">
				<div class="col col-40">
					<label id="lblModulo" class="form-label">Módulo:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirEmpresario.controls['modulo'].dirty"
						[inputErrors]="frmSeguhirEmpresario.controls['modulo'].errors">
							<select id="cboModulo" class="form-control" formControlName="modulo">
								<option value="">Selecciona</option>
								<option *ngFor="let modulo of modulos" [value]="modulo.idModulo">
									{{modulo.descModulo}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblSumasegurada" class="form-label">Suma asegurada:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirEmpresario.controls['sumasegurada'].dirty"
						[inputErrors]="frmSeguhirEmpresario.controls['sumasegurada'].errors">
							<input id="txtSumasegurada" type="text" class="form-control" formControlName="sumasegurada">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblCobertura" class="form-label">Cobertura:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirEmpresario.controls['cobertura'].dirty"
						[inputErrors]="frmSeguhirEmpresario.controls['cobertura'].errors">
							<select id="cboCobertura" class="form-control" formControlName="cobertura">
								<option value="">Selecciona</option>
								<option *ngFor="let cobertura of coberturas" [value]="cobertura.idCobertura">
									{{cobertura.descCobertura}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblFpago" class="form-label">Forma de pago:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirEmpresario.controls['fpago'].dirty"
						[inputErrors]="frmSeguhirEmpresario.controls['fpago'].errors">
							<div *ngFor="let formaPago of formasPago" class="rdoContainer two">
								<input type="radio" formControlName="fpago" [value]="formaPago.idFormaPago">{{formaPago.descFormaPago}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<button id="btnCotizar" type="submit" [disabled]="!frmSeguhirEmpresario.valid">Cotizar</button>
		</div>
	</div>
</form>