<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="7" [selStep]="5">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmSeguhirVidaP5" (ngSubmit)="fnAvanzarP6()">
	<fieldset>
		<legend>Designación de beneficiarios del titular</legend>
		<pehir-policyholder-table (onValidateTable)="onValidateTableTitular($event)">
		</pehir-policyholder-table>
	</fieldset>
	<fieldset>
		<legend>Designación de beneficiarios del cónyuge</legend>
		<pehir-policyholder-table (onValidateTable)="onValidateTableConyuge($event)">
		</pehir-policyholder-table>
	</fieldset>
	<fieldset>
		<legend>Designación de beneficiarios del hijo 1 mayores de 18 años</legend>
		<pehir-policyholder-table (onValidateTable)="onValidateTableHijo1($event)">
		</pehir-policyholder-table>
	</fieldset>
	<fieldset>
		<legend>Designación de beneficiarios del hijo 2 mayores de 18 años</legend>
		<pehir-policyholder-table (onValidateTable)="onValidateTableHijo2($event)">
		</pehir-policyholder-table>
	</fieldset>
	<div class="row">
		<div class="col col-100">
			<button id="btnSiguiente" type="submit" class="next" [disabled]="!areValidTables">Siguiente</button>
		</div>
	</div>
</form>