<form [formGroup]="frmContrasena" (ngSubmit)="fnContinuarAcceso()">
	<div class="row">
		<div class="col col-100">
			<label id="lblContrasena" class="form-label login">Nueva contraseña</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<pehir-extend-form-control
				[inputDirty]="frmContrasena.get('contrasena').dirty"
				[inputErrors]="frmContrasena.get('contrasena').errors">
					<input id="pwdContrasena" type="password" class="form-control" formControlName="contrasena">
			</pehir-extend-form-control>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<label id="lblConfContrasena" class="form-label login">Confirma tu nueva contraseña</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<pehir-extend-form-control
				[inputDirty]="frmContrasena.get('confcontrasena').dirty"
				[inputErrors]="frmContrasena.get('confcontrasena').errors"
				[formErrors]="frmContrasena.errors">
					<input id="pwdConfContrasena" type="password" class="form-control" formControlName="confcontrasena">
			</pehir-extend-form-control>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<button id="btnCancelar" type="button" class="back login" (click)="fnLogout()">Cancelar</button>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<button id="btnContinuar" type="submit" class="next login" [disabled]="!frmContrasena.valid">Continuar</button>
		</div>
	</div>
</form>