<div class="row">
	<div class="col col-100 titulo">{{titulo}}</div>
</div>
<form [formGroup]="frmSeguhirVida" (ngSubmit)="fnCotizar()">
	<div class="row">
		<div class="col col-50">
			<div class="row">
				<div class="col col-40">
					<label id="lblNombre" class="form-label">Nombre:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirVida.get('nombre').dirty"
						[inputErrors]="frmSeguhirVida.get('nombre').errors">
							<input id="txtNombre" type="text" class="form-control" formControlName="nombre">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblApaterno" class="form-label">Apellido paterno:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirVida.get('apaterno').dirty"
						[inputErrors]="frmSeguhirVida.get('apaterno').errors">
							<input id="txtApaterno" type="text" class="form-control" formControlName="apaterno">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblAmaterno" class="form-label">Apellido materno:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirVida.get('amaterno').dirty"
						[inputErrors]="frmSeguhirVida.get('amaterno').errors">
							<input id="txtAmaterno" type="text" class="form-control" formControlName="amaterno">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblFechaNac" class="form-label">Fecha de nacimiento:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirVida.get('fechanac').dirty"
						[inputErrors]="frmSeguhirVida.get('fechanac').errors">
							<my-date-picker name="fechanac" [options]="fecNacOptions" formControlName="fechanac">
							</my-date-picker>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblSexo" class="form-label">Sexo:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirVida.get('genero').dirty"
						[inputErrors]="frmSeguhirVida.get('genero').errors">
							<div *ngFor="let genero of generos" class="rdoContainer two">
								<input type="radio" formControlName="genero" [value]="genero.idGenero">{{genero.keyGenero}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblPlan" class="form-label">Plan:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirVida.get('plan').dirty"
						[inputErrors]="frmSeguhirVida.get('plan').errors">
							<select id="cboPlan" class="form-control" formControlName="plan">
								<option value="">Selecciona</option>
								<option *ngFor="let plan of planes" [value]="plan.id">
									{{plan.desc}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblFpago" class="form-label">Forma de pago:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirVida.get('fpago').dirty"
						[inputErrors]="frmSeguhirVida.get('fpago').errors">
							<select id="cboFpago" class="form-control" formControlName="fpago">
								<option value="">Selecciona</option>
								<option *ngFor="let formaPago of formasPago" [value]="formaPago.id">
									{{formaPago.desc}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
		</div>
		<div class="col col-50">
			<div class="row">
				<div class="col col-40">
					<label id="lblModulos" class="form-label">Número de módulos a contratar:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirVida.get('modulo').dirty"
						[inputErrors]="frmSeguhirVida.get('modulo').errors">
							<select id="cboModulo" class="form-control" formControlName="modulo">
								<option value="">Selecciona</option>
								<option *ngFor="let modulo of modulos" [value]="modulo.idModulo">
									{{modulo.descModulo}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblPcobertura" class="form-label">Paquete de cobertura:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSeguhirVida.get('pcobertura').dirty"
						[inputErrors]="frmSeguhirVida.get('pcobertura').errors">
							<select id="cboPcobertura" class="form-control" formControlName="pcobertura">
								<option value="">Selecciona</option>
								<option *ngFor="let paquete of paquetes" [value]="paquete.idPaquete">
									{{paquete.descPaquete}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-50 col-off-40">
					<fieldset>
						<legend>Descripción de coberturas</legend>
						<label class="msg info">F (Fallecimiento)</label>
						<label class="msg info">IITP (Indemnización por Invalidez Total y Permanente)</label>
						<label class="msg info">MA (Muerte Accidental)</label>
						<label class="msg info">C (Cáncer)</label>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<button id="btnCotizar" type="submit" class="next" [disabled]="!frmSeguhirVida.valid">Cotizar</button>
		</div>
	</div>
</form>