<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="7" [selStep]="2">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmVidaAhorroP2" (ngSubmit)="fnAvanzarP3()">
	<fieldset>
		<legend>Identificación y conocimiento del cliente</legend>
		<div class="row">
			<div class="col col-100">
				<label id="lblGobierno" class="pregunta">
					¿Usted desempeña o ha desempeñado en el año inmediato anterior alguna de las siguientes funciones o cargos: Jefe de Estado o de Gobierno, líder político, funcionario gubernamental, judicial o militar de alta jerarquía, alto ejecutivo de empresas estatales o funcionario o miembro importante de partidos políticos?
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<pehir-extend-form-control
					[inputDirty]="frmVidaAhorroP2.get('gobierno').dirty"
					[inputErrors]="frmVidaAhorroP2.get('gobierno').errors">
						<div class="rdoContainer two">
							<input type="radio" (change)="fnCambiarGobierno()" [value]="false" formControlName="gobierno">No
						</div>
						<div class="rdoContainer two">
							<input type="radio" (change)="fnCambiarGobierno()" [value]="true" formControlName="gobierno">Sí
						</div>
				</pehir-extend-form-control>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblEspecifiqueGob" class="form-label">Especifique:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP2.get('especifiqueGob').dirty"
							[inputErrors]="frmVidaAhorroP2.get('especifiqueGob').errors">
								<input id="txtEspecifiqueGob" type="text" class="form-control" formControlName="especifiqueGob">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<label id="lblParienteGob" class="pregunta">
					¿Es usted cónyugue, concubina, concubinario o tiene paretesco por consanguinidad o afinidad hasta el segundo grado con alguna persona de las mencionadas en el párrafo anterior?
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<pehir-extend-form-control
					[inputDirty]="frmVidaAhorroP2.get('parienteGob').dirty"
					[inputErrors]="frmVidaAhorroP2.get('parienteGob').errors">
						<div class="rdoContainer two">
							<input type="radio" (change)="fnCambiarParienteGob()" [value]="false" formControlName="parienteGob">No
						</div>
						<div class="rdoContainer two">
							<input type="radio" (change)="fnCambiarParienteGob()" [value]="true" formControlName="parienteGob">Sí
						</div>
				</pehir-extend-form-control>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblEspecifiqueParGob" class="form-label">Especifique:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP2.get('especifiqueParGob').dirty"
							[inputErrors]="frmVidaAhorroP2.get('especifiqueParGob').errors">
								<input id="txtEspecifiqueParGob" type="text" class="form-control" formControlName="especifiqueParGob">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Planes y coberturas contratadas</legend>
		<div class="row">
			<div class="col col-100">
				<label class="msg info">
					Regla para determinar la suma asegurada. La suma asegurada máxima se establecerá de acuerdo a las Condiciones del Contrato de Adhesión suscrito entre el asegurado y el contratante.
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<fieldset>
					<legend>Descripción de coberturas</legend>
					<div class="row">
						<div class="col col-25">
							<label class="msg info">F (Fallecimiento)</label>
						</div>
						<div class="col col-25">
							<label class="msg info">MA (Muerte Accidental)</label>
						</div>
						<div class="col col-25">
							<label class="msg info">C (Cáncer)</label>
						</div>
						<div class="col col-25">
							<label class="msg info">IITP (Indemnización por Invalidez Total y Permanente)</label>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col col-33">
				<fieldset>
					<legend>Plan</legend>
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorroP2.get('plan').dirty"
						[inputErrors]="frmVidaAhorroP2.get('plan').errors">
							<div *ngFor="let plan of planes" class="rdoContainer">
								<input type="radio" formControlName="plan" [value]="plan.idPlan">{{plan.descPlan}}
							</div>
					</pehir-extend-form-control>
				</fieldset>
			</div>
			<div class="col col-33">
				<fieldset>
					<legend>Paquete de cobertura</legend>
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorroP2.get('pcobertura').dirty"
						[inputErrors]="frmVidaAhorroP2.get('pcobertura').errors">
							<div *ngFor="let paquete of paquetes" class="rdoContainer two">
								<input type="radio" formControlName="pcobertura" [value]="paquete.idPaquete">{{paquete.descPaquete}}
							</div>
					</pehir-extend-form-control>
				</fieldset>
			</div>
			<div class="col col-33">
				<fieldset>
					<legend>Forma de pago</legend>
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorroP2.get('fpago').dirty"
						[inputErrors]="frmVidaAhorroP2.get('fpago').errors">
							<div *ngFor="let formaPago of formasPago" class="rdoContainer">
								<input type="radio" formControlName="fpago" [value]="formaPago.idFormaPago">{{formaPago.descFormaPago}}
							</div>
					</pehir-extend-form-control>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<fieldset>
					<legend>Otros</legend>
					<div class="row">
						<div class="col col-40">
							<label id="lblTipoAhorro" class="form-label">Tipo de ahorro:</label>
						</div>
						<div class="col col-50">
							<pehir-extend-form-control
								[inputDirty]="frmVidaAhorroP2.get('tipoAhorro').dirty"
								[inputErrors]="frmVidaAhorroP2.get('tipoAhorro').errors">
									<select id="cboTipoAhhorro" class="form-control" formControlName="tipoAhorro">
										<option value="">Selecciona</option>
										<option *ngFor="let tipoAhorro of tiposAhorro" [ngValue]="tipoAhorro">
											{{tipoAhorro.descTipoAhorro}}
										</option>
									</select>
							</pehir-extend-form-control>
						</div>
					</div>
					<div class="row">
						<div class="col col-40">
							<label id="lblApFondoAsegurado" class="form-label">Aportación al fondo del asegurado titular:</label>
						</div>
						<div class="col col-50">
							<pehir-extend-form-control
								[inputDirty]="frmVidaAhorroP2.get('apfondoasegurado').dirty"
								[inputErrors]="frmVidaAhorroP2.get('apfondoasegurado').errors">
									<div class="rdoContainer two">
										<input type="radio" formControlName="apfondoasegurado" [value]="0">No
									</div>
									<div class="rdoContainer two">
										<input type="radio" formControlName="apfondoasegurado" [value]="1">Sí
									</div>
							</pehir-extend-form-control>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col col-50">
				<fieldset>
					<legend>Aportaciones</legend>
					<div class="row">
						<div class="col col-40">
							<label id="lblAhorroInical" class="form-label">Ahorro inicial:</label>
						</div>
						<div class="col col-50">
							<pehir-extend-form-control
								[inputDirty]="frmVidaAhorroP2.get('ahorroInicial').dirty"
								[inputErrors]="frmVidaAhorroP2.get('ahorroInicial').errors">
									<div class="form-group">
										<input id="txtAhorroInicial" type="text" class="form-control right" formControlName="ahorroInicial">
										<span class="control-text left">$</span>
									</div>
							</pehir-extend-form-control>
						</div>
					</div>
					<div class="row">
						<div class="col col-40">
							<label id="lblAhorroMensual" class="form-label">Ahorro mensual:</label>
						</div>
						<div class="col col-50">
							<pehir-extend-form-control
								[inputDirty]="frmVidaAhorroP2.get('ahorroMensual').dirty"
								[inputErrors]="frmVidaAhorroP2.get('ahorroMensual').errors">
									<div class="form-group">
										<input id="txtAhorroMensual" type="text" class="form-control right" formControlName="ahorroMensual">
										<span class="control-text left">$</span>
									</div>
							</pehir-extend-form-control>
						</div>
					</div>
					<div class="row">
						<div class="col col-40">
							<label id="lblAhorroExtraordinario" class="form-label">Ahorro extraordinario:</label>
						</div>
						<div class="col col-50">
							<pehir-extend-form-control
								[inputDirty]="frmVidaAhorroP2.get('ahorroExtraordinario').dirty"
								[inputErrors]="frmVidaAhorroP2.get('ahorroExtraordinario').errors">
									<div class="form-group">
										<input id="txtAhorroExtraordinario" type="text" class="form-control right" formControlName="ahorroExtraordinario">
										<span class="control-text left">$</span>
									</div>
							</pehir-extend-form-control>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="col col-100">
			<button id="btnSiguiente" type="submit" class="next" [disabled]="!frmVidaAhorroP2.valid">Siguiente</button>
		</div>
	</div>
</form>