.carousel {margin:40px 0;}
.carousel a > .fa {color:#333333;}
.carousel a:hover > .fa {color:#f68c2c;}
.carousel .carousel-item {margin:0 auto;width:100%}
.carousel .carousel-item {display:none;}
.carousel .carousel-item.visible {display:block;}
.carousel .carousel-item img {display:block;}
.carousel .marker-container {margin-top:15px;text-align:center;}
.carousel span.marker {background-color:#aaaaaa;border-radius:50%;display:inline-block;height:10px;margin:0 3px;width:10px;}
.carousel span.marker.visible {background-color:#f68c2c;}