<div class="header">
	<div class="header-social">
		<div class="clearfix">
			<div class="leftcontainer">
				<div class="header-info">
					(55) 5262-1780  o Lada sin costo 01 800 SEGUHIR (7348447)
					<span class="sep">|</span>
					<a href="mailto:atencionaclientes@hirseguros.com.mx ">atencionaclientes@hirseguros.com.mx </a>
				</div>
			</div>
			<div class="rightcontainer">
				<ul class="social-networks">
					<li class="facebook">
						<a target="_self" href="https://www.facebook.com/pages/HIR-Seguros/652281194868589?"></a>
					</li>
					<li class="twitter">
						<a target="_self" href="https://twitter.com/HIR_Seguros"></a>
					</li>
					<li class="youtube">
						<a target="_self" href="https://www.youtube.com/channel/UCywfCLr8ET-ix2ZLB8hvZEQ"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-site">
		<div class="clearfix">
			<div class="logo">
				<a href="http://hirseguros.mx">
					<img src="/assets/img/logoHIR.png" alt="Hir Seguros">
				</a>
			</div>
			<nav class="navcontainer">
				<ul class="menu">
					<li>
						<a routerLink="/acceso" routerLinkActive="active">Login</a>
					</li>
					<li>
						<a routerLink="/registro" routerLinkActive="active">Registro</a>
					</li>
					<li>
						<a routerLink="/rcontrasena" routerLinkActive="active">Recuperar contraseña</a>
					</li>
					<li>
						<a routerLink="/desbloqueo" routerLinkActive="active">Desbloqueo</a>
					</li>
					<li>
						<a routerLink="/inicio" routerLinkActive="active">Inicio</a>
					</li>
					<li>
						<a routerLink="/productos" routerLinkActive="active">Productos</a>
						<ul class="submenu">
							<li>
								<a routerLink="/productos/vida">
									<i class="fa fa-caret-right"></i>Seguros de vida
								</a>
							</li>
							<li>
								<a routerLink="/productos/accidentes">
									<i class="fa fa-caret-right"></i>Seguros de accidentes
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a routerLink="/cotizacion" routerLinkActive="active">Cotización</a>
						<ul class="submenu">
							<li>
								<a routerLink="/cotizacion/vida">
									<i class="fa fa-caret-right"></i>Seguros de vida
								</a>
							</li>
							<li>
								<a routerLink="/cotizacion/accidentes">
									<i class="fa fa-caret-right"></i>Seguros de accidentes
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a routerLink="/emision" routerLinkActive="active">Emisión</a>
						<ul class="submenu">
							<li>
								<a routerLink="/emision/vida">
									<i class="fa fa-caret-right"></i>Seguros de vida
								</a>
							</li>
							<li>
								<a routerLink="/emision/vida">
									<i class="fa fa-caret-right"></i>Seguros de accidentes
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a routerLink="/logout" routerLinkActive="active">Salir</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>