<div class="footer">
	<div class="clearfix">
		<div class="leftcontainer">
			Copyright 2014 Hir seguros | All Rights Reserved
		</div>
		<div class="rightcontainer">
			<ul class="social-networks">
				<li class="facebook">
					<a target="_self" href="https://www.facebook.com/pages/HIR-Seguros/652281194868589?"></a>
				</li>
				<li class="twitter">
					<a target="_self" href="https://twitter.com/HIR_Seguros"></a>
				</li>
				<li class="youtube">
					<a target="_self" href="https://www.youtube.com/channel/UCywfCLr8ET-ix2ZLB8hvZEQ"></a>
				</li>
			</ul>
		</div>
	</div>
</div>