<div class="header">
	<div class="header-social">
		<div class="clearfix">
			<div class="leftcontainer">
				<div class="header-info">
					(55) 5262-1780  o Lada sin costo 01 800 SEGUHIR (7348447)
					<span class="sep">|</span>
					<a href="mailto:atencionaclientes@hirseguros.com.mx ">atencionaclientes@hirseguros.com.mx </a>
					<span *ngIf="!isProduction" class="sep">| {{ environmentName }}</span>
				</div>
			</div>
			<div class="rightcontainer">
				<ul class="social-networks">
					<li class="facebook">
						<a target="_self" href="https://www.facebook.com/pages/HIR-Seguros/652281194868589?"></a>
					</li>
					<li class="twitter">
						<a target="_self" href="https://twitter.com/HIR_Seguros"></a>
					</li>
					<li class="youtube">
						<a target="_self" href="https://www.youtube.com/channel/UCywfCLr8ET-ix2ZLB8hvZEQ"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-site">
		<div class="clearfix">
			<div class="logo">
				<a href="http://hirseguros.mx">
					<img src="./assets/img/logoHIR.png" alt="Hir Seguros">
				</a>
			</div>
			<div *ngIf="authenticated" class="loggedContent">
				<pehir-session-timer></pehir-session-timer>
				<pehir-bienvenida></pehir-bienvenida>
				<pehir-menu></pehir-menu>
			</div>
		</div>
	</div>
</div>