<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="7" [selStep]="6">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmSeguhirVidaP6" (ngSubmit)="fnAvanzarP7()">
	<fieldset>
		<legend>Datos del agente</legend>
		<pehir-agent-table (onValidateTable)="onValidateTableAgentes($event)"></pehir-agent-table>
	</fieldset>
	<fieldset>
		<legend>Se validó el nombre y la dirección del cliente con la identificación original</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblIdentificacion" class="form-label">Tipo de identificación:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('identificacion').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('identificacion').errors">
								<select id="cboIdentificacion" class="form-control" formControlName="identificacion">
									<option value="">Selecciona</option>
									<option *ngFor="let identificacion of identificaciones" [ngValue]="identificacion">
										{{identificacion.descIdentificacion}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblNumeroIdentificacion" class="form-label">Número:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('numeroIdentificacion').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('numeroIdentificacion').errors">
								<input id="txtNumeroIdentificacion" type="text" class="form-control" formControlName="numeroIdentificacion">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Datos de la institución o de la empresa donde presta sus servicios</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblNombreEmpresa" class="form-label">Nombre:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('nombreEmpresa').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('nombreEmpresa').errors">
								<input id="txtNombreEmpresa" type="text" class="form-control" formControlName="nombreEmpresa">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblDependencia" class="form-label">Dependencia, entidad o área:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('dependencia').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('dependencia').errors">
								<input id="txtDependencia" type="text" class="form-control" formControlName="dependencia">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCalleNumero" class="form-label">Calle y número:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('calleNumero').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('calleNumero').errors">
								<input id="txtCalleNumero" type="text" class="form-control" formControlName="calleNumero">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblColoniaPoblacion" class="form-label">Colonia o población:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('coloniaPoblacion').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('coloniaPoblacion').errors">
								<input id="txtColoniaPoblacion" type="text" class="form-control" formControlName="coloniaPoblacion">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblDelegacionMunicipio" class="form-label">Delegación o municipio:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('delegacionMunicipio').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('delegacionMunicipio').errors">
								<select id="cboMunicipio" class="form-control" formControlName="delegacionMunicipio">
									<option value="">Selecciona</option>
									<option *ngFor="let municipio of municipios" [ngValue]="municipio">
										{{municipio.descMunicipio}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblEstado" class="form-label">Estado:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('estado').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('estado').errors">
								<select id="cboEstado" class="form-control" formControlName="estado">
									<option value="">Selecciona</option>
									<option *ngFor="let estado of estados" [ngValue]="estado">
										{{estado.descEstado}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCP" class="form-label">Código postal:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('cp').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('cp').errors">
								<input id="txtCP" type="text" class="form-control" formControlName="cp">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Autorización para el descuento por nómina</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblNombre" class="form-label">Nombre:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('nombre').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('nombre').errors">
								<input id="txtNombre" type="text" class="form-control" formControlName="nombre">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblApaterno" class="form-label">Apellido paterno:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('apaterno').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('apaterno').errors">
								<input id="txtApaterno" type="text" class="form-control" formControlName="apaterno">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblAmaterno" class="form-label">Apellido materno:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('amaterno').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('amaterno').errors">
								<input id="txtAmaterno" type="text" class="form-control" formControlName="amaterno">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblAreaTrabajo" class="form-label">Area de trabajo:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('areaTrabajo').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('areaTrabajo').errors">
								<input id="txtAreaTrabajo" type="text" class="form-control" formControlName="areaTrabajo">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblNumeroEmpleado" class="form-label">No. de empleado:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('numeroEmpleado').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('numeroEmpleado').errors">
								<input id="txtNumeroEmpleado" type="text" class="form-control" formControlName="numeroEmpleado">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblRetencionQuincenal" class="form-label">Retención quincenal:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('retencionQuincenal').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('retencionQuincenal').errors">
								<div class="form-group">
									<input id="txtRetencionQuincenal" type="text" class="form-control right" formControlName="retencionQuincenal">
									<span class="control-text left">$</span>
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblRFC" class="form-label">RFC:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('rfc').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('rfc').errors">
								<input id="txtRFC" type="text" class="form-control" formControlName="rfc">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblTelefono" class="form-label">Teléfono:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSeguhirVidaP6.get('telefono').dirty"
							[inputErrors]="frmSeguhirVidaP6.get('telefono').errors">
								<input id="txtTelefono" type="text" class="form-control" formControlName="telefono">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="col col-100">
			<button id="btnSiguiente" type="submit" class="next" [disabled]="!frmSeguhirVidaP6.valid || !isValidTableAgentes">Siguiente</button>
		</div>
	</div>
</form>