<div class="page-not-found">
	<div class="row">
		<div class="col col-100">
			<div class="page-not-found-header">
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<label class="page-not-found-error">Error 404: Página no encontrada</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<label class="page-not-found-message">
				¡Lo sentimos! La página que está buscando no existe.<br>
			</label>
		</div>
	</div>
</div>