.page-not-found {text-align:center;}
.page-not-found i, .page-not-found label {color:#c0c0c0;}
.page-not-found-header {font-size:10em;}
.page-not-found-error {font-size:2em;font-weight:bold;}
.page-not-found-message {font-size:1em;}