<div class="row">
	<div class="col col-100">
		{{ seguhirVidaP1 | json }}
	</div>
</div>
<div class="row">
	<div class="col col-100">
		{{ seguhirVidaP2 | json }}
	</div>
</div>
<div class="row">
	<div class="col col-100">
		{{ seguhirVidaP3 | json }}
	</div>
</div>
<div class="row">
	<div class="col col-100">
		{{ seguhirVidaP4 | json }}
	</div>
</div>
<div class="row">
	<div class="col col-100">
		{{ seguhirVidaP5 | json }}
	</div>
</div>
<div class="row">
	<div class="col col-100">
		{{ seguhirVidaP6 | json }}
	</div>
</div>
<div class="row">
		<div class="col col-50">
			<button id="btnRegresar" type="button" class="back right" (click)="fnRegresar()">Regresar</button>
		</div>
		<div class="col col-50">
			<button id="btnContinuar" type="button" class="next left" (click)="fnContinuar()">Continuar</button>
	</div>
</div>