/*Layout general*/
html {box-sizing:border-box;}
*, *::before, *::after{box-sizing:inherit}
.row {margin-left:-15px;margin-right:-15px;}
.row::before, .row::after {content:" ";display:table;}
.row::after {clear:both;}
.col {padding-left:15px;padding-right:15px;float:left;}
.col-100 {width:100%;}
.col-90 {width:90%}
.col-83 {width:83.3333%;}
.col-80 {width:80%;}
.col-70 {width:70%;}
.col-75 {width:75%;}
.col-66 {width:66.6666%;}
.col-60 {width:60%;}
.col-50 {width:50%;}
.col-40 {width:40%;}
.col-33 {width:33.3333%;}
.col-30 {width:30%;}
.col-25 {width:25%;}
.col-20 {width:20%;}
.col-16 {width:16.6666%;}
.col-10 {width:10%;}
.col-off-90 {margin-left:90%;}
.col-off-83 {margin-left:83.3333%;}
.col-off-80 {margin-left:80%;}
.col-off-75 {margin-left:75%;}
.col-off-70 {margin-left:70%;}
.col-off-66 {margin-left:66.6666%;}
.col-off-60 {margin-left:60%;}
.col-off-50 {margin-left:50%;}
.col-off-40 {margin-left:40%;}
.col-off-33 {margin-left:33.3333%;}
.col-off-30 {margin-left:30%;}
.col-off-25 {margin-left:25%;}
.col-off-20 {margin-left:20%;}
.col-off-16 {margin-left:16.6666%;}
.col-off-10 {margin-left:10%; }
[class*=" push-"], [class*=" pull-"] {position:relative;}
.push-33 {left:33.3333%;}
.push-50 {left:50%;}
.push-66 {left:66.6666%;}
.pull-33 {right:33.3333%;}
.pull-50 {right:50%;}
.pull-66 {right:66.6666%;}
.maincontainer {width:80%;margin:0 auto;}
.leftcontainer {display:inline;float:left;}
.rightcontainer {display:inline;float:right;}
.clearfix {clear:both;}
.clearfix:after{clear:both;content:"";display:block;}
/*Devices*/
.hidden-desktop {display:none !important;}
/*Elementos sitio*/
* {font-family:"PT Sans", Arial, Helvetica, sans-serif;color:#747474;}
a {color:#333333;text-decoration:none;}
a.active {color:#f68c2c;font-weight:bold;}
a:hover {color:#f68c2c;}
input[type="text"], input[type="password"], textarea, select {color:#aaa9a9;}
button, input[type="button"], input[type="submit"] {background-color:#f68c2c;border:none;border-radius:5px;color:#fafafa;display:block;font-weight:bold;margin:0 auto;padding:8px 0;width:25%;}
button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled {cursor:not-allowed;opacity:0.5;}
fieldset {border:1px solid #e1e1e1;border-radius:5px;margin-bottom:15px;padding:15px;}
legend {padding:0 8px;}
div.rdoContainer{height:27px;margin-bottom:15px;padding-top:4px;}
div.rdoContainer.two {float:left;width:50%;}
div.rdoContainer.three {float:left;width:33.3333%;}
div.rdoContainer.two > input[type="radio"] {margin-right:7px;}
/*Datepicker*/
.mydp {border:1px solid #b4b4b4 !important;margin-bottom:12px !important;}
.mydp .selection {color:#aaa9a9 !important;height:25px !important;padding-left:5px !important;}
.mydp .selbtngroup {height:25px !important;}
.mydp .headerlabelbtn {color:#000000 !important;display:inline-block;font-weight:normal !important;width:auto;}
.mydp .selectedday .datevalue,
.mydp .selectedmonth .monthvalue,
.mydp .selectedyear .yearvalue {background-color:#f68c2c !important;color:#fafafa !important;text-decoration:none !important;}
.mydp .selectedday .datevalue span {color:#fafafa;}
.mydp .markcurrday,
.mydp .markcurrmonth,
.mydp .markcurryear {color:#f68c2c;font-weight:bold;text-decoration:none !important;}
/*Header*/
.header {border-top:4px solid #f68c2c;font-size:12px;}
.header-social {border-bottom:1px solid #e1e1e1;color:#747474 !important;min-height:43px;padding:0 10px;}
.header-social .leftcontainer {padding:15px;}
.header-social .rightcontainer {padding:0 15px 0 0;}
.social-networks {list-style:none;float:right;margin:11px 0 0 0;padding:0;}
.social-networks li {float:right;height:26px;margin:0 0 6px 20px;overflow:hidden;}
.social-networks a {float:left;background-repeat:no-repeat;}
.header .social-networks a {opacity:0.2;}
.header .social-networks a:hover {opacity:0.4;}
.social-networks .facebook a {background-image:url(/assets/img/facebook.png) !important;width:9px;height:17px;}
.social-networks .twitter a {background-image:url(/assets/img/twitter.png) !important;width:13px;height:16px;}
.social-networks .youtube a {background-image:url(/assets/img/youtube.png) !important;width:23px;height:25px;}
.header-site {border-bottom:1px solid #e1e1e1;padding:0 10px;font-size:14px;}
.header-site .navcontainer > i.fa {color:#f68c2c;float:right;}
.header-site a {display:block;}
.header-site .logo {float:left;margin:15px 0;overflow:hidden;padding:0 0 0 15px;width:10%;}
.header-site .loggedContent {float:left;margin:15px 0;padding:0 15px 0 0;width:90%;}
.header-site .loggedContent .greetContainer > p {margin:0;padding:0 0 10px 0;text-align:right;}
.header-site ul.menu {list-style:none;margin-top:10px;}
.header-site ul.menu > li {float:left;padding:0 0 0 25px;position:relative;}
.header-site ul.menu > li:last-child {float:right;}
.header-site ul.menu > li:last-child .fa {padding-left:10px;}
.header-site ul.menu > li:last-child > a:hover > .fa {color:#f68c2c;}
.header-site ul.menu > li:hover ul.submenu {display:block;position:absolute;width:165px;}
.header-site ul.submenu {display:none;list-style:none;padding:0;}
.header-site ul.submenu > li {padding:15px 0 0 0;}
.header-site ul.submenu > li .fa {color:#f68c2c;padding-right:5px;}
/*Contenedor principal*/
.main {margin:20px 15px;font-size:14px;}
.titulo {border-bottom:1px solid #e1e1e1;font-size:18px !important;margin-bottom:15px;text-align:center;padding-bottom:15px;}
.text-center {text-align:center;}
.form-control {border:1px solid #b4b4b4;border-radius:5px;height:27px;width:100%;margin-bottom:15px;padding-left:5px;}
.main label {display:block;margin-bottom:15px;}
.main label.form-label {padding-top:4px;text-align:right;}
.main label.pregunta {padding-top:4px;text-align:left;}
.main label.pregunta.medica {margin-bottom:0;}
.main label.tipo-seguro {margin-bottom:15px;padding-bottom:15px;text-align:center;border-bottom:1px solid #e1e1e1;font-size:30px;color:#f68c2c;}
.main label.sum-label {color:#f68c2c;font-size:30px;font-weight:bold;padding:15px 0;text-align:center;}
.main label.res-label {font-weight:bold;padding-top:4px;}
.main label.res-cot {padding:30px 100px;text-align:center;border-top:1px solid #1e1e1e1e;}
.main label.res-link {display:block;margin:15px 0 0;text-align:center;}
.main label.msg {font-size:12px;font-style:italic;}
.main label.msg.success {color:#3c763d;}
.main label.msg.info {color:#b4b4b4;}
.main label.msg.warning {color:#8a6d3b;}
.main label.msg.error {color:#a94442;}
.accesocontainer {background-color:#f0f0f0;padding:50px 15px;}
.accesolinks {margin:30px 0 0 0;}
/*Footer*/
.footer {background-color:#282a2b !important;border-top:1px solid #e9eaee !important;color:#8C8989 !important;font-size:12px;padding:0px 10px;}
.footer .leftcontainer {padding:15px;}
.footer .rightcontainer {padding:0 15px 0 0;}
