<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="3" [selStep]="1">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmProcuraVidaP1" (ngSubmit)="paso2()">
	<fieldset>
		<legend>Información médica</legend>
		<div class="row">
			<div class="col col-100">
				<label id="lblPadecimiento" class="pregunta medica">
					¿Padece o ha padecido: diabetes, leucemia, SIDA, insuficiencia renal, enfermedades del cerebro, hipertensión arterial, tumores malignos, cardiopatías (infartos, isquemia o arritmia), problemas del hígado, cáncer o enfisema pulmonar?
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-25 col-off-70">
				<pehir-extend-form-control
					[inputDirty]="frmProcuraVidaP1.controls['padecimiento'].dirty"
					[inputErrors]="frmProcuraVidaP1.controls['padecimiento'].errors">
						<div class="twoRdoContainer">
							<input type="radio" formControlName="padecimiento" [value]="false">No
						</div>
						<div class="twoRdoContainer">
							<input type="radio" formControlName="padecimiento" [value]="true">Sí
						</div>
				</pehir-extend-form-control>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblPeso" class="form-label">Peso:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['peso'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['peso'].errors">
								<input id="txtPeso" type="text" class="form-control" formControlName="peso">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblTalla" class="form-label">Talla:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['talla'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['talla'].errors">
								<input id="txtTalla" type="text" class="form-control" formControlName="talla">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Datos del asegurado</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblNombre" class="form-label">Nombre(s):</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['nombre'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['nombre'].errors">
								<input id="txtNombre" type="text" class="form-control" formControlName="nombre">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblApaterno" class="form-label">Apellido paterno:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['apaterno'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['apaterno'].errors">
								<input id="txtApaterno" type="text" class="form-control" formControlName="apaterno">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblAmaterno" class="form-label">Apellido materno:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['amaterno'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['amaterno'].errors">
								<input id="txtAmaterno" type="text" class="form-control" formControlName="amaterno">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblFechaNac" class="form-label">Fecha de nacimiento:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['fechanac'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['fechanac'].errors">
								<my-date-picker name="fechanac" [options]="fecNacOptions" formControlName="fechanac">
								</my-date-picker>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblNacionalidad" class="form-label">Nacionalidad:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['nacionalidad'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['nacionalidad'].errors">
								<input id="txtNacionalidad" type="text" class="form-control" formControlName="nacionalidad">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblOcupacion" class="form-label">Ocupación:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['ocupacion'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['ocupacion'].errors">
								<select id="cboOcupacion" class="form-control" formControlName="ocupacion">
									<option value="">Selecciona</option>
									<option *ngFor="let ocupacion of ocupaciones" [value]="ocupacion.idOcupacion">
										{{ocupacion.descOcupacion}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblRFC" class="form-label">RFC:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['rfc'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['rfc'].errors">
								<input id="txtRFC" type="text" class="form-control" formControlName="rfc">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblEstadoCivil" class="form-label">Estado civil:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['estadoCivil'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['estadoCivil'].errors">
								<div *ngFor="let estadoCivil of estadosCiviles" class="threeRdoContainer">
									<input type="radio" formControlName="estadoCivil" [value]="estadoCivil.idEstadoCivil">{{estadoCivil.descEstadoCivil}}
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblSexo" class="form-label">Sexo:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['genero'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['genero'].errors">
								<div *ngFor="let genero of generos" class="twoRdoContainer">
									<input type="radio" formControlName="genero" [value]="genero.idGenero">{{genero.descGenero}}
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Datos de contacto</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblCalleNumero" class="form-label">Calle y número:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['calleNumero'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['calleNumero'].errors">
								<input id="txtCalleNumero" type="text" class="form-control" formControlName="calleNumero">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblColoniaPoblacion" class="form-label">Colonia o población:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['coloniaPoblacion'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['coloniaPoblacion'].errors">
								<input id="txtColoniaPoblacion" type="text" class="form-control" formControlName="coloniaPoblacion">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblDelegacionMunicipio" class="form-label">Delegación o municipio:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['delegacionMunicipio'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['delegacionMunicipio'].errors">
								<input id="txtDelegacionMunicipio" type="text" class="form-control" formControlName="delegacionMunicipio">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblEstado" class="form-label">Estado:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['estado'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['estado'].errors">
								<input id="txtEstado" type="text" class="form-control" formControlName="estado">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCP" class="form-label">Código postal:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['cp'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['cp'].errors">
								<input id="txtCP" type="text" class="form-control" formControlName="cp">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblTelefono" class="form-label">Teléfono de casa/oficina:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['telefono'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['telefono'].errors">
								<input id="txtTelefono" type="text" class="form-control" formControlName="telefono">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCelular" class="form-label">Teléfono móvil:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['celular'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['celular'].errors">
								<input id="txtCelular" type="text" class="form-control" formControlName="celular">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCorreoe1" class="form-label">e-mail 1:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['correoe1'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['correoe1'].errors">
								<input id="txtCorreoe1" type="text" class="form-control" formControlName="correoe1">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCorreoe2" class="form-label">e-mail 2:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmProcuraVidaP1.controls['correoe2'].dirty"
							[inputErrors]="frmProcuraVidaP1.controls['correoe2'].errors">
								<input id="txtCorreoe2" type="text" class="form-control" formControlName="correoe2">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="col col-100">
			<button id="btnSiguiente" type="submit" [disabled]="!frmProcuraVidaP1.valid">Siguiente</button>
		</div>
	</div>
</form>