<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="3" [selStep]="2">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmGastosFunerariosP2" (ngSubmit)="fnAvanzarP3()">
	<fieldset>
		<legend>Beneficiarios</legend>
		<pehir-policyholder-table (onValidateTable)="onValidateTable($event)">
		</pehir-policyholder-table>
	</fieldset>
	<fieldset>
		<legend>Información del seguro</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblModulo" class="form-label">Módulo:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmGastosFunerariosP2.controls['modulo'].dirty"
							[inputErrors]="frmGastosFunerariosP2.controls['modulo'].errors">
								<select id="cboModulo" class="form-control" formControlName="modulo">
									<option value="">Selecciona</option>
									<option *ngFor="let modulo of modulos" [value]="modulo.idModulo">
										{{modulo.descModulo}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblSumasegurada" class="form-label">Suma asegurada:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmGastosFunerariosP2.controls['sumasegurada'].dirty"
							[inputErrors]="frmGastosFunerariosP2.controls['sumasegurada'].errors">
								<input id="txtSumasegurada" type="text" class="form-control" formControlName="sumasegurada">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblCobertura" class="form-label">Cobertura:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmGastosFunerariosP2.controls['cobertura'].dirty"
							[inputErrors]="frmGastosFunerariosP2.controls['cobertura'].errors">
								<select id="cboModulo" class="form-control" formControlName="cobertura">
									<option value="">Selecciona</option>
									<option *ngFor="let cobertura of coberturas" [value]="cobertura.idCobertura">
										{{cobertura.descCobertura}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblFpago" class="form-label">Forma de pago:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmGastosFunerariosP2.controls['fpago'].dirty"
							[inputErrors]="frmGastosFunerariosP2.controls['fpago'].errors">
								<div *ngFor="let formaPago of formasPago" class="rdoContainer two">
									<input type="radio" formControlName="fpago" [value]="formaPago.idFormaPago">{{formaPago.descFormaPago}}
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Información para el agente</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblAgente" class="form-label">Nombre del agente:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmGastosFunerariosP2.controls['agente'].dirty"
							[inputErrors]="frmGastosFunerariosP2.controls['agente'].errors">
								<input id="txtAgente" type="text" class="form-control" formControlName="agente">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblClave" class="form-label">Clave:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmGastosFunerariosP2.controls['clave'].dirty"
							[inputErrors]="frmGastosFunerariosP2.controls['clave'].errors">
								<input id="txtClave" type="text" class="form-control" formControlName="clave">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="col col-100">
			<button id="btnSiguiente" type="submit" class="next" [disabled]="!frmGastosFunerariosP2.valid || !isValidTable">Siguiente</button>
		</div>
	</div>
</form>