<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="7" [selStep]="1">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmVidaAhorroP1" (ngSubmit)="fnAvanzarP2()">
	<fieldset>
		<legend>Datos del contratante</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblNombreCon" class="form-label">Nombre:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('nombreCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('nombreCon').errors">
								<input id="txtNombreCon" type="text" class="form-control" formControlName="nombreCon">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblApaternoCon" class="form-label">Apellido paterno:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('apaternoCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('apaternoCon').errors">
								<input id="txtApaternoCon" type="text" class="form-control" formControlName="apaternoCon">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblAmaternoCon" class="form-label">Apellido materno:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('amaternoCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('amaternoCon').errors">
								<input id="txtAmaternoCon" type="text" class="form-control" formControlName="amaternoCon">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblFechaNacCon" class="form-label">Fecha de nacimiento:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('fechanacCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('fechanacCon').errors">
								<my-date-picker name="fechanacCon" [options]="fecNacOptions" formControlName="fechanacCon">
								</my-date-picker>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblNacionalidadCon" class="form-label">Nacionalidad:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('nacionalidadCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('nacionalidadCon').errors">
								<input id="txtNacionalidadCon" type="text" class="form-control" formControlName="nacionalidadCon">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblOcupacionCon" class="form-label">Ocupación:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('ocupacionCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('ocupacionCon').errors">
								<select id="cboOcupacion" class="form-control" formControlName="ocupacionCon">
									<option value="">Selecciona</option>
									<option *ngFor="let ocupacion of ocupaciones" [value]="ocupacion.idOcupacion">
										{{ocupacion.descOcupacion}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblRFCCon" class="form-label">RFC:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('rfcCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('rfcCon').errors">
								<input id="txtRFCCon" type="text" class="form-control" formControlName="rfcCon">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblEstadoCivilCon" class="form-label">Estado civil:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('estadoCivilCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('estadoCivilCon').errors">
								<div *ngFor="let estadoCivil of estadosCiviles" class="rdoContainer three">
									<input type="radio" formControlName="estadoCivilCon" [value]="estadoCivil.idEstadoCivil">{{estadoCivil.descEstadoCivil}}
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblSexoCon" class="form-label">Sexo:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('generoCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('generoCon').errors">
								<div *ngFor="let genero of generos" class="rdoContainer two">
									<input type="radio" formControlName="generoCon" [value]="genero.idGenero">{{genero.keyGenero}}
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Domicilio del contratante</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblCalleNumeroCon" class="form-label">Calle y número:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('calleNumeroCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('calleNumeroCon').errors">
								<input id="txtCalleNumeroCon" type="text" class="form-control" formControlName="calleNumeroCon">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblColoniaPoblacionCon" class="form-label">Colonia o población:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('coloniaPoblacionCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('coloniaPoblacionCon').errors">
								<input id="txtColoniaPoblacionCon" type="text" class="form-control" formControlName="coloniaPoblacionCon">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblDelegacionMunicipioCon" class="form-label">Delegación o municipio:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('delegacionMunicipioCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('delegacionMunicipioCon').errors">
								<select id="cboMunicipioCon" class="form-control" formControlName="delegacionMunicipioCon">
									<option value="">Selecciona</option>
									<option *ngFor="let municipio of municipiosCon" [ngValue]="municipio">
										{{municipio.descMunicipio}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblEstadoCon" class="form-label">Estado:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('estadoCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('estadoCon').errors">
								<select id="cboEstadoCon" class="form-control" formControlName="estadoCon">
									<option value="">Selecciona</option>
									<option *ngFor="let estado of estados" [ngValue]="estado">
										{{estado.descEstado}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblCPCon" class="form-label">Código postal:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('cpCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('cpCon').errors">
								<input id="txtCPCon" type="text" class="form-control" formControlName="cpCon">
						</pehir-extend-form-control>
					</div>
				</div>
				<div formGroupName="telefonosCon">
					<div class="row">
						<div class="col col-40">
							<label id="lblTelefonoCon" class="form-label">Teléfono de casa/oficina:</label>
						</div>
						<div class="col col-50">
							<pehir-extend-form-control
								[inputDirty]="frmVidaAhorroP1.get('telefonosCon.telefonoCon').dirty"
								[inputErrors]="frmVidaAhorroP1.get('telefonosCon.telefonoCon').errors">
									<input id="txtTelefonoCon" type="text" class="form-control" formControlName="telefonoCon">
							</pehir-extend-form-control>
						</div>
					</div>
					<div class="row">
						<div class="col col-40">
							<label id="lblCelularCon" class="form-label">Teléfono móvil:</label>
						</div>
						<div class="col col-50">
							<pehir-extend-form-control
								[inputDirty]="frmVidaAhorroP1.get('telefonosCon.celularCon').dirty"
								[inputErrors]="frmVidaAhorroP1.get('telefonosCon.celularCon').errors"
								[formErrors]="frmVidaAhorroP1.get('telefonosCon').errors">
									<input id="txtCelularCon" type="text" class="form-control" formControlName="celularCon">
							</pehir-extend-form-control>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCorreoeCon" class="form-label">e-mail:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('correoeCon').dirty"
							[inputErrors]="frmVidaAhorroP1.get('correoeCon').errors">
								<input id="txtCorreoeCon" type="text" class="form-control" formControlName="correoeCon">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Datos del asegurado titular</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblNombreTit" class="form-label">Nombre:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('nombreTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('nombreTit').errors">
								<input id="txtNombreTit" type="text" class="form-control" formControlName="nombreTit">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblApaternoTit" class="form-label">Apellido paterno:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('apaternoTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('apaternoTit').errors">
								<input id="txtApaternoTit" type="text" class="form-control" formControlName="apaternoTit">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblAmaternoTit" class="form-label">Apellido materno:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('amaternoTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('amaternoTit').errors">
								<input id="txtAmaternoTit" type="text" class="form-control" formControlName="amaternoTit">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblFechaNacTit" class="form-label">Fecha de nacimiento:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('fechanacTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('fechanacTit').errors">
								<my-date-picker name="fechanacTit" [options]="fecNacOptions" formControlName="fechanacTit">
								</my-date-picker>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblNacionalidadTit" class="form-label">Nacionalidad:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('nacionalidadTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('nacionalidadTit').errors">
								<input id="txtNacionalidadTit" type="text" class="form-control" formControlName="nacionalidadTit">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblOcupacionTit" class="form-label">Ocupación:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('ocupacionTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('ocupacionTit').errors">
								<select id="cboOcupacion" class="form-control" formControlName="ocupacionTit">
									<option value="">Selecciona</option>
									<option *ngFor="let ocupacion of ocupaciones" [value]="ocupacion.idOcupacion">
										{{ocupacion.descOcupacion}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblRFCTit" class="form-label">RFC:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('rfcTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('rfcTit').errors">
								<input id="txtRFCTit" type="text" class="form-control" formControlName="rfcTit">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblEstadoCivilTit" class="form-label">Estado civil:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('estadoCivilTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('estadoCivilTit').errors">
								<div *ngFor="let estadoCivil of estadosCiviles" class="rdoContainer three">
									<input type="radio" formControlName="estadoCivilTit" [value]="estadoCivil.idEstadoCivil">{{estadoCivil.descEstadoCivil}}
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblSexoTit" class="form-label">Sexo:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('generoTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('generoTit').errors">
								<div *ngFor="let genero of generos" class="rdoContainer two">
									<input type="radio" formControlName="generoTit" [value]="genero.idGenero">{{genero.keyGenero}}
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Domicilio del asegurado titular</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblCalleNumeroTit" class="form-label">Calle y número:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('calleNumeroTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('calleNumeroTit').errors">
								<input id="txtCalleNumeroTit" type="text" class="form-control" formControlName="calleNumeroTit">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblColoniaPoblacionTit" class="form-label">Colonia o población:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('coloniaPoblacionTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('coloniaPoblacionTit').errors">
								<input id="txtColoniaPoblacionTit" type="text" class="form-control" formControlName="coloniaPoblacionTit">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblDelegacionMunicipioTit" class="form-label">Delegación o municipio:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('delegacionMunicipioTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('delegacionMunicipioTit').errors">
								<select id="cboMunicipioTit" class="form-control" formControlName="delegacionMunicipioTit">
									<option value="">Selecciona</option>
									<option *ngFor="let municipio of municipiosTit" [ngValue]="municipio">
										{{municipio.descMunicipio}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblEstadoTit" class="form-label">Estado:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('estadoTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('estadoTit').errors">
								<select id="cboEstadoTit" class="form-control" formControlName="estadoTit">
									<option value="">Selecciona</option>
									<option *ngFor="let estado of estados" [ngValue]="estado">
										{{estado.descEstado}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblCPTit" class="form-label">Código postal:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('cpTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('cpTit').errors">
								<input id="txtCPTit" type="text" class="form-control" formControlName="cpTit">
						</pehir-extend-form-control>
					</div>
				</div>
				<div formGroupName="telefonosTit">
					<div class="row">
						<div class="col col-40">
							<label id="lblTelefonoTit" class="form-label">Teléfono de casa/oficina:</label>
						</div>
						<div class="col col-50">
							<pehir-extend-form-control
								[inputDirty]="frmVidaAhorroP1.get('telefonosTit.telefonoTit').dirty"
								[inputErrors]="frmVidaAhorroP1.get('telefonosTit.telefonoTit').errors">
									<input id="txtTelefonoTit" type="text" class="form-control" formControlName="telefonoTit">
							</pehir-extend-form-control>
						</div>
					</div>
					<div class="row">
						<div class="col col-40">
							<label id="lblCelularTit" class="form-label">Teléfono móvil:</label>
						</div>
						<div class="col col-50">
							<pehir-extend-form-control
								[inputDirty]="frmVidaAhorroP1.get('telefonosTit.celularTit').dirty"
								[inputErrors]="frmVidaAhorroP1.get('telefonosTit.celularTit').errors"
								[formErrors]="frmVidaAhorroP1.get('telefonosTit').errors">
									<input id="txtCelularTit" type="text" class="form-control" formControlName="celularTit">
							</pehir-extend-form-control>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCorreoeTit" class="form-label">e-mail:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmVidaAhorroP1.get('correoeTit').dirty"
							[inputErrors]="frmVidaAhorroP1.get('correoeTit').errors">
								<input id="txtCorreoeTit" type="text" class="form-control" formControlName="correoeTit">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="col col-100">
			<button id="btnSiguiente" type="submit" class="next" [disabled]="!frmVidaAhorroP1.valid">Siguiente</button>
		</div>
	</div>
</form>