<div class ="product-container">
	<div class="row">
		<div class="col col-50 push-50">
			<div class="row">
				<div class="col col-100">
					<div class="sectionContent">
						<img class="companyImage" src="{{ imageHIRPath }}">
						<img class="productImage2" src="{{ detalleProducto.rutaImagen2 }}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<div class="sectionContent">
						<img class="productImage1" src="{{ detalleProducto.rutaImagen1 }}">
					</div>
				</div>
			</div>
		</div>
		<div class="col col-50 pull-50">
			<div class="row">
				<div class="col col-100">
					<div class="sectionContent text center">{{ detalleProducto.encabezado }}</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<div class="sectionTitle">
						<i class="fa fa-file-text"></i> | Descripción del producto
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<div class="sectionContent text">{{ detalleProducto.descProducto }}</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<div class="sectionTitle">
						<i class="fa fa-thumbs-o-up"></i> | Beneficios y ventajas
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<div class="sectionContent text">
						<ul>
							<li *ngFor="let beneficio of detalleProducto.beneficios">
								- {{ beneficio }}
							</li>
							<li *ngFor="let ventaja of detalleProducto.ventajas">
								- {{ ventaja }}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<div class="sectionContact center">
						<i class="fa fa-comments-o fa-lg"></i><br>
						{{ detalleProducto.telefono }}<br>{{ detalleProducto.lada }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<div class="sectionContact center">
						<i class="fa fa-twitter-square fa-lg"></i> {{ detalleProducto.twitter }}
					</div>
				</div>
				<div class="col col-50">
					<div class="sectionContact center">
						<i class="fa fa-facebook-square fa-lg"></i> {{ detalleProducto.facebook }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<div class="sectionContact center">{{ detalleProducto.correo }}</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<div class="sectionContact center">{{ detalleProducto.direccion }}</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<div class="sectionContent text center productFooter">
						{{ detalleProducto.piePagina }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>