<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="7" [selStep]="5">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmVidaAhorroP5" (ngSubmit)="fnAvanzarP6()">
	<fieldset>
		<legend>Designación de beneficiarios del titular</legend>
		<pehir-policyholder-table (onValidateTable)="onValidateTable($event)">
		</pehir-policyholder-table>
	</fieldset>
	<fieldset>
		<legend>Designación de beneficiarios del cónyuge</legend>
		<pehir-policyholder-table (onValidateTable)="onValidateTable($event)">
		</pehir-policyholder-table>
	</fieldset>
	<fieldset>
		<legend>Designación de beneficiarios de los hijos mayores de 18 años</legend>
		<pehir-policyholder-table (onValidateTable)="onValidateTable($event)">
		</pehir-policyholder-table>
	</fieldset>
	<div class="row">
		<div class="col col-100">
			<button id="btnSiguiente" type="submit" class="next" [disabled]="!frmVidaAhorroP5.valid">Siguiente</button>
		</div>
	</div>
</form>