<div class="row">
	<div class="col col-100 titulo">{{titulo}}</div>
</div>
<div class="row">
	<div class="col col-50">
		<pehir-image-link [imagePath]="'./assets/img/SeguHIRVida.jpg'" [linkLabel]="'SeguHIR Vida'" [linkPath]="'/emision/seguhirvida'">
		</pehir-image-link>
	</div>
	<div class="col col-50">
		<pehir-image-link [imagePath]="'./assets/img/ProcuraVida.jpg'" [linkLabel]="'Procura Vida'" [linkPath]="'/emision/procuravida'">
		</pehir-image-link>
	</div>
</div>
<div class="row">
	<div class="col col-50">
		<pehir-image-link [imagePath]="'./assets/img/GastosFunerarios.jpg'" [linkLabel]="'Gastos Funerarios'" [linkPath]="'/emision/gastosfunerarios'">
		</pehir-image-link>
	</div>
	<div class="col col-50">
		<pehir-image-link [imagePath]="'./assets/img/SeguHIREmpresario.jpg'" [linkLabel]="'SeguHIR Empresario'" [linkPath]="'/emision/seguhirempresario'">
		</pehir-image-link>
	</div>
</div>