<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="3" [selStep]="3">
		</pehir-progress-control>
	</div>
</div>
<fieldset>
	<legend>Datos del asegurado</legend>
	<div class="row">
		<div class="col col-16">
			<label class="form-label">Nombre:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.nombre + ' ' + apindividualP1.apaterno + ' ' + apindividualP1.amaterno }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">Fecha de nacimiento:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.fechanac.jsdate | date: 'dd/MM/yyyy' }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">Nacionalidad:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.nacionalidad }}
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-16">
			<label class="form-label">RFC:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.rfc }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">Estado civil:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.estadoCivil.descEstadoCivil }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">Género:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.genero.descGenero }}
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-16">
			<label class="form-label">Fumador:</label>
		</div>
		<div class="col col-16">
			<label *ngIf="apindividualP1.fumador" class="res-label">Sí</label>
			<label *ngIf="!apindividualP1.fumador" class="res-label">No</label>
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>Datos de contacto</legend>
	<div class="row">
		<div class="col col-16">
			<label class="form-label">Calle y número:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.calleNumero }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">Colonia o población:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.coloniaPoblacion }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">CP:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.cp }}
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-16">
			<label class="form-label">Delegación o Municipio:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.delegacionMunicipio.descripcionEntidad }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">Estado:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.estado.descripcionEntidad }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">Teléfono:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.telefono }}
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-16">
			<label class="form-label">Celular:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.celular }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">Email:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP1.correoe }}
			</label>
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>Identificación y conocimiento del cliente</legend>
	<div class="row">
		<div class="col col-100">
			<label id="lblGobierno" class="pregunta">
				¿Usted desempeña o ha desempeñado en el año inmediato anterior alguna de las siguientes funciones o cargos: Jefe de Estado o de Gobierno, líder político, funcionario gubernamental, judicial o militar de alta jerarquía, alto ejecutivo de empresas estatales o funcionario o miembro importante de partidos políticos?
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-10">
			<label *ngIf="apindividualP1.gobierno" class="res-label">Sí</label>
			<label *ngIf="!apindividualP1.gobierno" class="res-label">No</label>
		</div>
		<div class="col col-90">
			<label class="res-label">
				{{ apindividualP1.especifiqueGob }}
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<label id="lblParienteGob" class="pregunta">
				¿Es usted cónyugue, concubina, concubinario o tiene paretesco por consanguinidad o afinidad hasta el segundo grado con alguna persona de las mencionadas en el párrafo anterior?
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-10">
			<label *ngIf="apindividualP1.parienteGob" class="res-label">Sí</label>
			<label *ngIf="!apindividualP1.parienteGob" class="res-label">No</label>
		</div>
		<div class="col col-90">
			<label class="res-label">
				{{ apindividualP1.especifiqueParGob }}
			</label>
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>Datos adicionales</legend>
	<div class="row">
		<div class="col col-25">
			<label class="form-label">Ocupación:</label>
		</div>
		<div class="col col-25">
			<label class="res-label">
				{{ apindividualP2.ocupacion.desc }}
			</label>
		</div>
		<div class="col col-25">
			<label class="form-label">Breve descripción de actividad:</label>
		</div>
		<div class="col col-25">
			<label class="res-label">
				{{ apindividualP2.descactividad }}
			</label>
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>Información del seguro</legend>
	<div class="row">
		<div class="col col-16">
			<label class="form-label">Módulos:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP2.modulo.descModulo }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">Forma de pago:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP2.formaPago.desc }}
			</label>
		</div>
		<div class="col col-16">
			<label class="form-label">Plan:</label>
		</div>
		<div class="col col-16">
			<label class="res-label">
				{{ apindividualP2.plan.desc }}
			</label>
		</div>
	</div>
	<div class="row">
		
	</div>
</fieldset>
<fieldset *ngIf="editaAgente">
	<legend>Información para el agente</legend>
	<div class="row">
		<div class="col col-25">
			<label class="form-label">Agente:</label>
		</div>
		<div class="col col-25">
			<label class="res-label">
				{{ apindividualP2.agente }}
			</label>
		</div>
		<div class="col col-25">
			<label class="form-label">Clave:</label>
		</div>
		<div class="col col-25">
			<label class="res-label">
				{{ apindividualP2.clave }}
			</label>
		</div>
	</div>
</fieldset>
<div class="row">
	<div class="col col-50">
		<button id="btnRegresar" type="button" class="back right" (click)="fnRegresar()">Regresar</button>
	</div>
	<div class="col col-50">
		<button id="btnContinuar" type="button" class="next left" (click)="fnContinuar()">Continuar</button>
	</div>
</div>