<form [formGroup]="frmBeneficiario">
	<table id="tblBeneficiario">
		<thead>
			<tr>
				<th>Nombre completo</th>
				<th>Fecha de nacimiento</th>
				<th>Parentesco</th>
				<th>% de la suma asegurada</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let beneficiario of beneficiarios; let i=index">
				<td>{{beneficiario.nombre}}</td>
				<td class="center">{{ beneficiario.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
				<td class="center">{{ beneficiario.parentesco }}</td>
				<td class="center">{{ beneficiario.porcentajeSuma | percent }}</td>
				<td class="center">
					<a (click)="eliminarBeneficiario(i)"><i class="fa fa-minus-square-o fa-lg"></i></a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>
					<pehir-extend-form-control
						[inputDirty]="frmBeneficiario.controls['nombre'].dirty"
						[inputErrors]="frmBeneficiario.controls['nombre'].errors">
							<input id="txtNombre" type="text" class="form-control" formControlName="nombre">
					</pehir-extend-form-control>
				</td>
				<td>
					<pehir-extend-form-control
						[inputDirty]="frmBeneficiario.controls['fechanac'].dirty"
						[inputErrors]="frmBeneficiario.controls['fechanac'].errors">
							<my-date-picker name="fechanac" [options]="fecNacOptions" formControlName="fechanac"></my-date-picker>
					</pehir-extend-form-control>
				</td>
				<td>
					<pehir-extend-form-control
						[inputDirty]="frmBeneficiario.controls['parentesco'].dirty"
						[inputErrors]="frmBeneficiario.controls['parentesco'].errors">
							<input id="txtParentesco" type="text" class="form-control" formControlName="parentesco">
					</pehir-extend-form-control>
				</td>
				<td>
					<pehir-extend-form-control
						[inputDirty]="frmBeneficiario.controls['porcentajeSuma'].dirty"
						[inputErrors]="frmBeneficiario.controls['porcentajeSuma'].errors">
							<input id="txtPorcentajeSuma" type="text" class="form-control" formControlName="porcentajeSuma">
					</pehir-extend-form-control>
				</td>
				<td class="center">
					<a (click)="validarFomulario()">
						<i class="fa fa-plus-square-o fa-lg"></i>
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
	<div class="row">
		<div class="col col-100">
			<label *ngIf="!isValidSum" class="msg error">
				{{sumErrorMsg}}
			</label>
		</div>
	</div>
</form>