<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="3" [selStep]="1">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmRconP1" (ngSubmit)="fnAvanzarP2Rcon()">
	<div class="row">
		<div class="col col-20 col-off-20">
			<label id="lblCorreoe" class="form-label">Correo electrónico</label>
		</div>
		<div class="col col-30">
			<pehir-extend-form-control
				[inputDirty]="frmRconP1.get('correoe').dirty"
				[inputErrors]="frmRconP1.get('correoe').errors">
					<input id="txtCorreoe" type="text" class="form-control" formControlName="correoe">
			</pehir-extend-form-control>
		</div>
	</div>
	<div class="row">
		<div class="col col-30 col-off-40">
			<label class="msg info">
				Se enviará un código a su celular que deberá ingresar en el siguiente paso
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col col-33 col-off-33">
			<re-captcha class="recaptcha" formControlName="recaptcha"></re-captcha>
		</div>
	</div>
	<div class="row">
		<div class="col col-50">
			<button id="btnCancelar" type="button" class="back right" (click)="fnIrInicio()">Cancelar</button>
		</div>
		<div class="col col-50">
			<button id="btnSiguiente" type="submit" class="next left" [disabled]="!frmRconP1.valid">Siguiente</button>
		</div>
	</div>
</form>