<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="3" [selStep]="2">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmDesP2" (ngSubmit)="fnAvanzarP3Des()">
	<div class="row">
		<div class="col col-20 col-off-20">
			<label id="lblCodigo" class="form-label">
				Ingresa el código que se ha enviado a tu correo electrónico / celular
			</label>
		</div>
		<div class="col col-30">
			<pehir-extend-form-control
				[inputDirty]="frmDesP2.get('codigo').dirty"
				[inputErrors]="frmDesP2.get('codigo').errors">
					<input id="txtCodigo" type="text" class="form-control" formControlName="codigo">
			</pehir-extend-form-control>
		</div>
	</div>
	<div class="row">
		<div class="col col-50">
			<button id="btnRegresar" type="button" class="back right" (click)="fnRegresarP2Des()">Regresar</button>
		</div>
		<div class="col col-50">
			<button id="btnSiguiente" type="submit" class="next left" [disabled]="!frmDesP2.valid">Siguiente</button>
		</div>
	</div>
</form>