<div class="row">
	<div class="col col-100 titulo">{{titulo}}</div>
</div>
<form [formGroup]="frmVidaAhorro" (ngSubmit)="cotizar()">
	<div class="row">
		<div class="col col-50">
			<div class="row">
				<div class="col col-40">
					<label id="lblNombre" class="form-label">Nombre:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorro.controls['nombre'].dirty"
						[inputErrors]="frmVidaAhorro.controls['nombre'].errors">
							<input id="txtNombre" type="text" class="form-control" formControlName="nombre">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblApaterno" class="form-label">Apellido paterno:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorro.controls['apaterno'].dirty"
						[inputErrors]="frmVidaAhorro.controls['apaterno'].errors">
							<input id="txtApaterno" type="text" class="form-control" formControlName="apaterno">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblAmaterno" class="form-label">Apellido materno:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorro.controls['amaterno'].dirty"
						[inputErrors]="frmVidaAhorro.controls['amaterno'].errors">
							<input id="txtAmaterno" type="text" class="form-control" formControlName="amaterno">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblFechaNac" class="form-label">Fecha de nacimiento:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorro.controls['fechanac'].dirty"
						[inputErrors]="frmVidaAhorro.controls['fechanac'].errors">
							<my-date-picker name="fechanac" [options]="fecNacOptions" formControlName="fechanac">
							</my-date-picker>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblRFC" class="form-label">RFC:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorro.controls['rfc'].dirty"
						[inputErrors]="frmVidaAhorro.controls['rfc'].errors">
							<input id="txtRFC" type="text" class="form-control" formControlName="rfc">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblSexo" class="form-label">Sexo:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorro.controls['genero'].dirty"
						[inputErrors]="frmVidaAhorro.controls['genero'].errors">
							<div *ngFor="let genero of generos" class="rdoContainer two">
								<input type="radio" formControlName="genero" [value]="genero.idGenero">{{genero.descGenero}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblPlan" class="form-label">Plan:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorro.controls['plan'].dirty"
						[inputErrors]="frmVidaAhorro.controls['plan'].errors">
							<div *ngFor="let plan of planes" class="rdoContainer two">
								<input type="radio" formControlName="plan" [value]="plan.idPlan">{{plan.descPlan}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
		</div>
		<div class="col col-50">
			<div class="row">
				<div class="col col-40">
					<label id="lblPcobertura" class="form-label">Paquete de cobertura:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorro.controls['pcobertura'].dirty"
						[inputErrors]="frmVidaAhorro.controls['pcobertura'].errors">
							<div *ngFor="let paquete of paquetes" class="rdoContainer two">
								<input type="radio" formControlName="pcobertura" [value]="paquete.idPaquete">{{paquete.descPaquete}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblModulos" class="form-label">Número de módulos a contratar:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorro.controls['modulo'].dirty"
						[inputErrors]="frmVidaAhorro.controls['modulo'].errors">
							<select id="cboModulo" class="form-control" formControlName="modulo">
								<option value="">Selecciona</option>
								<option *ngFor="let modulo of modulos" [value]="modulo.idModulo">
									{{modulo.descModulo}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblFpago" class="form-label">Forma de pago:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmVidaAhorro.controls['fpago'].dirty"
						[inputErrors]="frmVidaAhorro.controls['fpago'].errors">
							<div *ngFor="let formaPago of formasPago" class="rdoContainer two">
								<input type="radio" formControlName="fpago" [value]="formaPago.idFormaPago">{{formaPago.descFormaPago}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<button id="btnCotizar" type="submit" [disabled]="!frmVidaAhorro.valid">Cotizar</button>
		</div>
	</div>
</form>