<div class="row">
	<div class="col col-100 titulo">{{titulo}}</div>
</div>
<form [formGroup]="frmApindividual" (ngSubmit)="fnCotizar()">
	<div class="row">
		<div class="col col-50">
			<div class="row">
				<div class="col col-40">
					<label id="lblNombre" class="form-label">Nombre:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['nombre'].dirty"
						[inputErrors]="frmApindividual.controls['nombre'].errors">
							<input id="txtNombre" type="text" class="form-control" formControlName="nombre">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblApaterno" class="form-label">Apellido paterno:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['apaterno'].dirty"
						[inputErrors]="frmApindividual.controls['apaterno'].errors">
							<input id="txtApaterno" type="text" class="form-control" formControlName="apaterno">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblAmaterno" class="form-label">Apellido materno:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['amaterno'].dirty"
						[inputErrors]="frmApindividual.controls['amaterno'].errors">
							<input id="txtAmaterno" type="text" class="form-control" formControlName="amaterno">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblFechaNac" class="form-label">Fecha de nacimiento:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['fechanac'].dirty"
						[inputErrors]="frmApindividual.controls['fechanac'].errors">
							<my-date-picker name="fechanac" [options]="fecNacOptions" formControlName="fechanac">
							</my-date-picker>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblRFC" class="form-label">RFC:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['rfc'].dirty"
						[inputErrors]="frmApindividual.controls['rfc'].errors">
							<input id="txtRFC" type="text" class="form-control" formControlName="rfc">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblSexo" class="form-label">Sexo:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['genero'].dirty"
						[inputErrors]="frmApindividual.controls['genero'].errors">
							<div *ngFor="let genero of generos" class="rdoContainer two">
								<input type="radio" formControlName="genero" [value]="genero.idGenero">{{genero.descGenero}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
		</div>
		<div class="col col-50">
			<div class="row">
				<div class="col col-40">
					<label id="lblCobertura" class="form-label">Cobertura:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['cobertura'].dirty"
						[inputErrors]="frmApindividual.controls['cobertura'].errors">
							<select id="cboCobertura" class="form-control" formControlName="cobertura">
								<option value="">Selecciona</option>
								<option *ngFor="let cobertura of coberturas" [value]="cobertura.idCobertura">
									{{cobertura.descCobertura}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblSumasegurada" class="form-label">Suma asegurada:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['sumasegurada'].dirty"
						[inputErrors]="frmApindividual.controls['sumasegurada'].errors">
							<div class="form-group">
								<input id="txtSumasegurada" type="text" class="form-control right" formControlName="sumasegurada">
								<span class="control-text left">$</span>
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblDeducible" class="form-label">Deducible:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['deducible'].dirty"
						[inputErrors]="frmApindividual.controls['deducible'].errors">
							<div class="form-group">
								<input id="txtDeducible" type="text" class="form-control right" formControlName="deducible">
								<span class="control-text left">$</span>
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblFpago" class="form-label">Forma de pago:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['fpago'].dirty"
						[inputErrors]="frmApindividual.controls['fpago'].errors">
							<div *ngFor="let formaPago of formasPago" class="rdoContainer two">
								<input type="radio" formControlName="fpago" [value]="formaPago.idFormaPago">{{formaPago.descFormaPago}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblPlan" class="form-label">Plan:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmApindividual.controls['plan'].dirty"
						[inputErrors]="frmApindividual.controls['plan'].errors">
							<div *ngFor="let plan of planes" class="rdoContainer two">
								<input type="radio" formControlName="plan" [value]="plan.idPlan">{{plan.descPlan}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<button id="btnCotizar" type="submit" class="next" [disabled]="!frmApindividual.valid">Cotizar</button>
		</div>
	</div>
</form>