<div class="row">
	<div class="col col-100 titulo">{{titulo}}</div>
</div>
<form [formGroup]="frmGastosFunerarios" (ngSubmit)="fnCotizar()">
	<div class="row">
		<div class="col col-50">
			<div class="row">
				<div class="col col-40">
					<label id="lblNombre" class="form-label">Nombre:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmGastosFunerarios.get('nombre').dirty"
						[inputErrors]="frmGastosFunerarios.get('nombre').errors">
							<input id="txtNombre" type="text" class="form-control" formControlName="nombre">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblApaterno" class="form-label">Apellido paterno:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmGastosFunerarios.get('apaterno').dirty"
						[inputErrors]="frmGastosFunerarios.get('apaterno').errors">
							<input id="txtApaterno" type="text" class="form-control" formControlName="apaterno">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblAmaterno" class="form-label">Apellido materno:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmGastosFunerarios.get('amaterno').dirty"
						[inputErrors]="frmGastosFunerarios.get('amaterno').errors">
							<input id="txtAmaterno" type="text" class="form-control" formControlName="amaterno">
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblFechaNac" class="form-label">Fecha de nacimiento:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmGastosFunerarios.get('fechanac').dirty"
						[inputErrors]="frmGastosFunerarios.get('fechanac').errors">
							<my-date-picker name="fechanac" [options]="fecNacOptions" formControlName="fechanac">
							</my-date-picker>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblRFC" class="form-label">RFC:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmGastosFunerarios.get('rfc').dirty"
						[inputErrors]="frmGastosFunerarios.get('rfc').errors">
							<input id="txtRFC" type="text" class="form-control" formControlName="rfc">
					</pehir-extend-form-control>
				</div>
			</div>
		</div>
		<div class="col col-50">
			<div class="row">
				<div class="col col-40">
					<label id="lblSexo" class="form-label">Sexo:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmGastosFunerarios.get('genero').dirty"
						[inputErrors]="frmGastosFunerarios.get('genero').errors">
							<div *ngFor="let genero of generos" class="rdoContainer two">
								<input type="radio" formControlName="genero" [value]="genero.idGenero">{{genero.keyGenero}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblModulo" class="form-label">Módulo:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmGastosFunerarios.get('modulo').dirty"
						[inputErrors]="frmGastosFunerarios.get('modulo').errors">
							<select id="cboModulo" class="form-control" formControlName="modulo">
								<option value="">Selecciona</option>
								<option *ngFor="let modulo of modulos" [value]="modulo.idModulo">
									{{modulo.descModulo}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblFpago" class="form-label">Forma de pago:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmGastosFunerarios.get('fpago').dirty"
						[inputErrors]="frmGastosFunerarios.get('fpago').errors">
							<select id="cboFpago" class="form-control" formControlName="fpago">
								<option value="">Selecciona</option>
								<option *ngFor="let formaPago of formasPago" [value]="formaPago.id">
									{{formaPago.desc}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col col-40">
					<label id="lblPlan" class="form-label">Plan:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmGastosFunerarios.get('plan').dirty"
						[inputErrors]="frmGastosFunerarios.get('plan').errors">
							<select id="cboPlan" class="form-control" formControlName="plan">
								<option value="">Selecciona</option>
								<option *ngFor="let plan of planes" [value]="plan.id">
									{{plan.desc}}
								</option>
							</select>
					</pehir-extend-form-control>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-80 col-off-10">
			<fieldset>
				<legend>Coberturas</legend>
				<div class="row">
					<div *ngFor="let cobertura of coberturas" class="col col-50 text-center">
						<span>{{cobertura.desc}}</span>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col col-100">
			<button id="btnCotizar" type="submit" class="next" [disabled]="!frmGastosFunerarios.valid">Cotizar</button>
		</div>
	</div>
</form>