<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="3" [selStep]="1">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmSegubiciP1" (ngSubmit)="paso2()">
	<fieldset>
		<legend>Datos del contratante</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblNombre" class="form-label">Nombre:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['nombre'].dirty"
							[inputErrors]="frmSegubiciP1.controls['nombre'].errors">
								<input id="txtNombre" type="text" class="form-control" formControlName="nombre">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblApaterno" class="form-label">Apellido paterno:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['apaterno'].dirty"
							[inputErrors]="frmSegubiciP1.controls['apaterno'].errors">
								<input id="txtApaterno" type="text" class="form-control" formControlName="apaterno">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblAmaterno" class="form-label">Apellido materno:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['amaterno'].dirty"
							[inputErrors]="frmSegubiciP1.controls['amaterno'].errors">
								<input id="txtAmaterno" type="text" class="form-control" formControlName="amaterno">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblFechaNac" class="form-label">Fecha de nacimiento:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['fechanac'].dirty"
							[inputErrors]="frmSegubiciP1.controls['fechanac'].errors">
								<my-date-picker name="fechanac" [options]="fecNacOptions" formControlName="fechanac">
								</my-date-picker>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblNacionalidad" class="form-label">Nacionalidad:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['nacionalidad'].dirty"
							[inputErrors]="frmSegubiciP1.controls['nacionalidad'].errors">
								<input id="txtNacionalidad" type="text" class="form-control" formControlName="nacionalidad">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblRFC" class="form-label">RFC:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['rfc'].dirty"
							[inputErrors]="frmSegubiciP1.controls['rfc'].errors">
								<input id="txtRFC" type="text" class="form-control" formControlName="rfc">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblEstadoCivil" class="form-label">Estado civil:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['estadoCivil'].dirty"
							[inputErrors]="frmSegubiciP1.controls['estadoCivil'].errors">
								<div *ngFor="let estadoCivil of estadosCiviles" class="threeRdoContainer">
									<input type="radio" formControlName="estadoCivil" [value]="estadoCivil.idEstadoCivil">{{estadoCivil.descEstadoCivil}}
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblSexo" class="form-label">Sexo:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['genero'].dirty"
							[inputErrors]="frmSegubiciP1.controls['genero'].errors">
								<div *ngFor="let genero of generos" class="twoRdoContainer">
									<input type="radio" formControlName="genero" [value]="genero.idGenero">{{genero.descGenero}}
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblFumador" class="form-label">Fumador:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['fumador'].dirty"
							[inputErrors]="frmSegubiciP1.controls['fumador'].errors">
								<div class="twoRdoContainer">
									<input type="radio" formControlName="fumador" [value]="false">No
								</div>
								<div class="twoRdoContainer">
									<input type="radio" formControlName="fumador" [value]="true">Sí
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Domicilio</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblCalleNumero" class="form-label">Calle y número:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['calleNumero'].dirty"
							[inputErrors]="frmSegubiciP1.controls['calleNumero'].errors">
								<input id="txtCalleNumero" type="text" class="form-control" formControlName="calleNumero">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblColoniaPoblacion" class="form-label">Colonia o población:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['coloniaPoblacion'].dirty"
							[inputErrors]="frmSegubiciP1.controls['coloniaPoblacion'].errors">
								<input id="txtColoniaPoblacion" type="text" class="form-control" formControlName="coloniaPoblacion">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblDelegacionMunicipio" class="form-label">Delegación o municipio:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['delegacionMunicipio'].dirty"
							[inputErrors]="frmSegubiciP1.controls['delegacionMunicipio'].errors">
								<input id="txtDelegacionMunicipio" type="text" class="form-control" formControlName="delegacionMunicipio">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCiudadEstado" class="form-label">Ciudad y Estado:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['ciudadEstado'].dirty"
							[inputErrors]="frmSegubiciP1.controls['ciudadEstado'].errors">
								<input id="txtCiudadEstado" type="text" class="form-control" formControlName="ciudadEstado">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCP" class="form-label">Código postal:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['cp'].dirty"
							[inputErrors]="frmSegubiciP1.controls['cp'].errors">
								<input id="txtCP" type="text" class="form-control" formControlName="cp">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblTelefono" class="form-label">Teléfono de casa/oficina:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['telefono'].dirty"
							[inputErrors]="frmSegubiciP1.controls['telefono'].errors">
								<input id="txtTelefono" type="text" class="form-control" formControlName="telefono">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCelular" class="form-label">Teléfono móvil:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['celular'].dirty"
							[inputErrors]="frmSegubiciP1.controls['celular'].errors">
								<input id="txtCelular" type="text" class="form-control" formControlName="celular">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblCorreo" class="form-label">e-mail:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['correoe'].dirty"
							[inputErrors]="frmSegubiciP1.controls['correoe'].errors">
								<input id="txtCorreoe" type="text" class="form-control" formControlName="correoe">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblVigenciaPoliza" class="form-label">Vigencia de la poliza:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['vigenciaPoliza'].dirty"
							[inputErrors]="frmSegubiciP1.controls['vigenciaPoliza'].errors">
								<input id="txtVigenciaPoliza" type="text" class="form-control" formControlName="vigenciaPoliza">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Identificación y conocimiento del cliente</legend>
		<div class="row">
			<div class="col col-100">
				<label id="lblGobierno" class="pregunta">
					¿Usted desempeña o ha desempeñado en el año inmediato anterior alguna de las siguientes funciones o cargos: Jefe de Estado o de Gobierno, líder político, funcionario gubernamental, judicial o militar de alta jerarquía, alto ejecutivo de empresas estatales o funcionario o miembro importante de partidos políticos?
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<pehir-extend-form-control
					[inputDirty]="frmSegubiciP1.controls['gobierno'].dirty"
					[inputErrors]="frmSegubiciP1.controls['gobierno'].errors">
						<div class="twoRdoContainer">
							<input type="radio" formControlName="gobierno" [value]="false">No
						</div>
						<div class="twoRdoContainer">
							<input type="radio" formControlName="gobierno" [value]="true">Sí
						</div>
				</pehir-extend-form-control>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblEspecifiqueGob" class="form-label">Especifique:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['especifiqueGob'].dirty"
							[inputErrors]="frmSegubiciP1.controls['especifiqueGob'].errors">
								<input id="txtEspecifiqueGob" type="text" class="form-control" formControlName="especifiqueGob">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<label id="lblParienteGob" class="pregunta">
					¿Es usted cónyugue, concubina, concubinario o tiene paretesco por consanguinidad o afinidad hasta el segundo grado con alguna persona de las mencionadas en el párrafo anterior?
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<pehir-extend-form-control
					[inputDirty]="frmSegubiciP1.controls['parienteGob'].dirty"
					[inputErrors]="frmSegubiciP1.controls['parienteGob'].errors">
						<div class="twoRdoContainer">
							<input type="radio" formControlName="parienteGob" [value]="false">No
						</div>
						<div class="twoRdoContainer">
							<input type="radio" formControlName="parienteGob" [value]="true">Sí
						</div>
				</pehir-extend-form-control>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblEspecifiqueParGob" class="form-label">Especifique:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP1.controls['especifiqueParGob'].dirty"
							[inputErrors]="frmSegubiciP1.controls['especifiqueParGob'].errors">
								<input id="txtEspecifiqueParGob" type="text" class="form-control" formControlName="especifiqueParGob">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="col col-100">
			<button id="btnSiguiente" type="submit" [disabled]="!frmSegubiciP1.valid">Siguiente</button>
		</div>
	</div>
</form>