<div class="row">
	<div class="col col-100">
		<pehir-progress-control [numSteps]="3" [selStep]="2">
		</pehir-progress-control>
	</div>
</div>
<form [formGroup]="frmSegubiciP2" (ngSubmit)="fnAvanzarP3()">
	<fieldset>
		<legend>Datos adicionales</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblOcupacion" class="form-label">Ocupación:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP2.controls['ocupacion'].dirty"
							[inputErrors]="frmSegubiciP2.controls['ocupacion'].errors">
								<select id="cboOcupacion" class="form-control" formControlName="ocupacion">
									<option value="">Selecciona</option>
									<option *ngFor="let ocupacion of ocupaciones" [value]="ocupacion.idOcupacion">
										{{ocupacion.descOcupacion}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblDescActividad" class="form-label">Breve descripción de actividad:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP2.controls['descactividad'].dirty"
							[inputErrors]="frmSegubiciP2.controls['descactividad'].errors">
								<input id="txtDescactividad" type="text" class="form-control" formControlName="descactividad">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Información del seguro</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblCobertura" class="form-label">Cobertura:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP2.controls['cobertura'].dirty"
							[inputErrors]="frmSegubiciP2.controls['cobertura'].errors">
								<select id="cboCobertura" class="form-control" formControlName="cobertura">
									<option value="">Selecciona</option>
									<option *ngFor="let cobertura of coberturas" [value]="cobertura.idCobertura">
										{{cobertura.descCobertura}}
									</option>
								</select>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblSumasegurada" class="form-label">Suma asegurada:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP2.controls['sumasegurada'].dirty"
							[inputErrors]="frmSegubiciP2.controls['sumasegurada'].errors">
								<input id="txtSumasegurada" type="text" class="form-control" formControlName="sumasegurada">
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<label id="lblDeducible" class="form-label">Deducible:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP2.controls['deducible'].dirty"
							[inputErrors]="frmSegubiciP2.controls['deducible'].errors">
								<input id="txtDeducible" type="text" class="form-control" formControlName="deducible">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblFpago" class="form-label">Forma de pago:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP2.controls['fpago'].dirty"
							[inputErrors]="frmSegubiciP2.controls['fpago'].errors">
								<div *ngFor="let formaPago of formasPago" class="rdoContainer two">
									<input type="radio" formControlName="fpago" [value]="formaPago.idFormaPago">{{formaPago.descFormaPago}}
								</div>
						</pehir-extend-form-control>
					</div>
				</div>
				<div class="col col-40">
					<label id="lblPlan" class="form-label">Plan:</label>
				</div>
				<div class="col col-50">
					<pehir-extend-form-control
						[inputDirty]="frmSegubiciP2.controls['plan'].dirty"
						[inputErrors]="frmSegubiciP2.controls['plan'].errors">
							<div *ngFor="let plan of planes" class="rdoContainer two">
								<input type="radio" formControlName="plan" [value]="plan.idPlan">{{plan.descPlan}}
							</div>
					</pehir-extend-form-control>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Información para el agente</legend>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblAgente" class="form-label">Nombre del agente:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP2.controls['agente'].dirty"
							[inputErrors]="frmSegubiciP2.controls['agente'].errors">
								<input id="txtAgente" type="text" class="form-control" formControlName="agente">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col col-40">
						<label id="lblClave" class="form-label">Clave:</label>
					</div>
					<div class="col col-50">
						<pehir-extend-form-control
							[inputDirty]="frmSegubiciP2.controls['clave'].dirty"
							[inputErrors]="frmSegubiciP2.controls['clave'].errors">
								<input id="txtClave" type="text" class="form-control" formControlName="clave">
						</pehir-extend-form-control>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="col col-100">
			<button id="btnSiguiente" type="submit" class="next" [disabled]="!frmSegubiciP2.valid">Siguiente</button>
		</div>
	</div>
</form>